# Git
.git
.gitignore

# Python
backend/venv
backend/.pytest_cache
backend/__pycache__
backend/*/__pycache__
backend/*/*/__pycache__
*.pyc
*.pyo
*.pyd

# Node
frontend/node_modules
frontend/.vite
frontend/dist

# macOS
.DS_Store
*.DS_Store

# Temporary & Logs
*.log
scratch/
